@import url("https://fonts.googleapis.com/css?family=Dosis&display=swap");

:root {
  --primary-color: #ffd9aa;
  --secondary-color: #855928;
  --border-color: #c2833b75;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: "Dosis", sans-serif;
  color: var(--secondary-color);
  /* overflow: hidden; */
  height: 100vh;
}

header {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  font-size: 20px;
}

h1 {
  font-size: 30px;
  width: 350px;
  text-align: center;
}

.draggable-list1,
.draggable-list2,
.draggable-list3,
.draggable-list4 {
  border: 1px solid var(--border-color);
  color: var(--text-color);
  padding: 0;
  list-style-type: none;
}

.draggable-list1 li,
.draggable-list2 li,
.draggable-list3 li,
.draggable-list4 li {
  background-color: #fff;
  display: flex;
  flex: 1;
}

.draggable-list1 li:not(:last-of-type),
.draggable-list2 li:not(:last-of-type),
.draggable-list3 li:not(:last-of-type),
.draggable-list4 li:not(:last-of-type) {
  border-bottom: 1px solid var(--border-color);
}

.draggable-list1 .number,
.draggable-list2 .number,
.draggable-list3 .number,
.draggable-list4 .number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  height: 60px;
  width: 60px;
  background-color: #fab260;
}

.draggable-list1 li.over .draggable1,
.draggable-list2 li.over .draggable2,
.draggable-list3 li.over .draggable3 .draggable-list4 li.over .draggable4 {
  background-color: #eaeaea;
}

.draggable-list1 .item-name,
.draggable-list2 .item-name,
.draggable-list3 .item-name,
.draggable-list4 .item-name {
  margin: 0 20px 0 0;
}

.draggable-list1 li.right .item-name,
.draggable-list2 li.right .item-name,
.draggable-list3 li.right .item-name,
.draggable-list4 li.right .item-name {
  color: #3ae374;
}

.draggable-list1 li.wrong .item-name,
.draggable-list2 li.wrong .item-name,
.draggable-list3 li.wrong .item-name,
.draggable-list4 li.wrong .item-name {
  color: #ff3838;
}

.draggable1,
.draggable2,
.draggable3,
.draggable4 {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  flex: 1;
}

.check-btn {
  background-color: var(--secondary-color);
  color: #fff;
  font-family: "Dosis", sans-serif;
  border: none;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 100px;
}

.check-btn:active {
  transform: scale(0.98);
}

.check-btn:focus {
  outline: none;
}
